<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Default POILogger class defined in the assembly
    if it is not set, NPOI.Util.NullLogger will be used
    -->
    <add key="loggername" value="test.Util.DummyPOILogger,NPOI.test"/>
    <add key="HSSF.testdata.path" value="..\..\..\test\test-data\hssf"/>
    <add key="POIFS.testdata.path" value="..\..\..\test\test-data\poifs"/>
    <add key="POI.testdata.path" value="..\..\..\test\test-data"/>
    <add key="java.io.tmpdir" value="..\..\..\test\test-data\"/>
    <add key="poi.keep.tmp.files" value="..\..\..\test\test-data\"/>
    <add key="font.metrics.filename" value="..\..\..\test\test-data\font_metrics.properties"/>
    <add key="escher.data.path" value="..\..\..\test\test-data\ddf\"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
    <test.Properties.Settings>
      <setting name="TEST_PROPERTY" serializeAs="String">
        <value>..\..\..\test-data</value>
      </setting>
    </test.Properties.Settings>
  </userSettings>
</configuration>
